
# RULES AND REGS!
# since the default-config.yaml is not provided (I generated it) we will only add settings here that we actually want to change as too not break anything that deosn't need breaking if the defaults change in the future

#Encrption needs to be at the top of the config file before everythin else  https://www.chezmoi.io/user-guide/encryption/age/

# Encryption configuration
# https://www.chezmoi.io/reference/configuration-file/#encryption
# Encryption configuration
encryption = "age"                          # Encryption type

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age107shyzu7kukupxzaec9qr3335s7khlsn0llmax7s6s9kw6lc5s3srl5su4"

[git]
autoadd = true                          # Auto-add changes
autocommit = true                       # Auto-commit
autopush = true                         # Auto-push









